.notice {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  font-size: calc(10px + .8vmin);
}

.container {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.restaurants-list {
  background-color: gray;
  width: 30%;
}