html {
  overflow: hidden;
}

.notice {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  font-size: calc(10px + .8vmin);
}

.container {
  height: 88vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.restaurants-list {
  background-color: #fff;
  border-left: 1px solid #eee;
  width: 30%;
  overflow: auto;
}

.add {
  background: #333;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 10px;
  width: 90%;
  margin: 10px auto;
  display: block;
}
