.map-marker {
  background-color: darkcyan;
  border: 1px solid #333;
  border-radius: 64px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 64px;
  height: 64px;
  cursor: pointer;

  position: absolute;
  left: -32px;
  top: -32px;

  box-shadow: 0 0 0 2px rgba(0, 0, 0, .25);
}

.map-marker.hovered {
  background-color: #000;
  border: 3px solid red;
  z-index: 9000;
}

.map-marker.user {
  background: rgb(122,188,255);
  background: radial-gradient(ellipse at center, rgba(122,188,255,1) 0%,rgba(64,150,238,1) 100%);
  background-size: 400% 400%;
  animation: pulseBG 1s ease infinite;
  border: 0;
  cursor: default;
  width: 32px;
  height: 32px;
  left: -16px;
  top: -16px;
  box-shadow: none;
}
.map-marker.user.hovered {
  background-color: dodgerblue;
}

@keyframes pulseBG {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}